<a href="https://colab.research.google.com/github/kalyanimane/data-science-assignments/blob/main/Hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
import numpy as np


x_bar = 3050
n = 25
sigma = 5 * 25

X = 600
mu = 1000 + 5 * X
print(f"Theoretical mean weekly cost (μ): {mu} Rs")


t_statistic = (x_bar - mu) / (sigma / np.sqrt(n))
print(f"Test Statistic (t): {t_statistic}")

Theoretical mean weekly cost (μ): 4000 Rs
Test Statistic (t): -38.0

In [4]:
#stats.t.cdf(t,df)
stats.t.cdf(-.38,24)

0.35364376119863666

In [5]:
import scipy.stats as stats

alpha = 0.05   # Define the significance level
z_critical = stats.norm.ppf(1 - alpha)

z_critical
print("Rounded Value=",round(z_critical,4))

Rounded Value= 1.6449

In [6]:
## t = -38
## z = 1.6449

In [ ]:
In this case: [ -38 < 1.6449 ]

 we reject the null hypothesis.

In [ ]:
Based on the decision in step 4, there is strong evidence to support the restaurant owners’ claim that the weekly operating
costs are higher than the model suggests.